{% extends 'christina.html' %}

{% block title %}Page not found | {% endblock %}

{% block h1 %}404 Page not found{% endblock %}

{% block content %}

    <p>Whoops!  Looks like you didn't find what you were looking for.  Try the
    search bar above, or if you think it's our fault please don't hesitate to
    <a href="http://www.nrishirts.dotcloud.com/contact/bug">let us know</a>.</p>
    <!-- Should probably not hard-code that link there.
    	Note to self: brush up on backtracking urls. -->

{% endblock %}
