{% extends 'christina.html' %}

{% block content %}
<article>
    <h1>HTML Demo (h1)</h1>
    <p>Header side-by-side reference:</p>
    <h2>Two</h2>
    <h3>Three</h3>
    <h4>Four</h4>
    <h5>Five</h5>
    <h6>Six</h6>

    <p>This is a demo of all the different HTML tags and elements. It should like as close to identical across all Browsers, Versions, and Operating Systems as possible.</p>

	<h2>Paragraphs (h2)</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis fringilla lacus. Nulla facilisi. Nulla facilisi. Donec tellus ligula, pellentesque ut eleifend tincidunt, aliquam id elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ultrices convallis enim, in sollicitudin magna vehicula ac. Mauris luctus ullamcorper odio vitae sagittis. Sed nec lacus at lorem tempor porttitor at id ante. Vestibulum ac diam massa, sed commodo dui. Sed vel urna nec ligula mollis vehicula pretium vitae quam. Nulla enim justo, tempor et faucibus id, tincidunt sit amet ligula. Integer facilisis ornare orci in ultricies. In ac ante quis sapien vulputate interdum. Sed ornare viverra venenatis. Sed lobortis erat odio, quis tempor massa.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis fringilla lacus. Nulla facilisi. Nulla facilisi. Donec tellus ligula, pellentesque ut eleifend tincidunt, aliquam id elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ultrices convallis enim, in sollicitudin magna vehicula ac. Mauris luctus ullamcorper odio vitae sagittis. Sed nec lacus at lorem tempor porttitor at id ante. Vestibulum ac diam massa, sed commodo dui. Sed vel urna nec ligula mollis vehicula pretium vitae quam. Nulla enim justo, tempor et faucibus id, tincidunt sit amet ligula. Integer facilisis ornare orci in ultricies. In ac ante quis sapien vulputate interdum. Sed ornare viverra venenatis. Sed lobortis erat odio, quis tempor massa.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis fringilla lacus. Nulla facilisi. Nulla facilisi. Donec tellus ligula, pellentesque ut eleifend tincidunt, aliquam id elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ultrices convallis enim, in sollicitudin magna vehicula ac. Mauris luctus ullamcorper odio vitae sagittis. Sed nec lacus at lorem tempor porttitor at id ante. Vestibulum ac diam massa, sed commodo dui. Sed vel urna nec ligula mollis vehicula pretium vitae quam. Nulla enim justo, tempor et faucibus id, tincidunt sit amet ligula. Integer facilisis ornare orci in ultricies. In ac ante quis sapien vulputate interdum. Sed ornare viverra venenatis. Sed lobortis erat odio, quis tempor massa.</p>

	<h3>In-line text styles (h3)</h3>

	<p>
	I am <a href="http://devkick.com/lab/tripoli/sample.php?abc123">the a tag</a> example<br>

	I am <abbr title="test">the abbr tag</abbr> example<br>

	I am <acronym>the acronym tag</acronym> example<br>
	I am <b>the b tag</b> example<br>
	I am <big>the big tag</big> example<br>

	I am <cite>the cite tag</cite> example<br>

	I am <code>the code tag</code> example<br>
	I am <del>the del tag</del> example<br>
	I am <dfn>the dfn tag</dfn> example<br>

	I am <em>the em tag</em> example<br>

	I am <font face="verdana">the font tag</font> example<br>
	I am <i>the i tag</i> example<br>
	I am <ins>the ins tag</ins> example<br>

	I am <kbd>the kbd tag</kbd> example<br>
    I am <mark>the mark element</mark> example<br>

	I am <q>the q tag <q>inside</q> a q tag</q> example<br>
	I am <s>the s tag</s> example<br>
	I am <samp>the samp tag</samp> example<br>

	I am <small>the small tag</small> example<br>
	I am <span>the span tag</span> example<br>
	I am <strike>the strike tag</strike> example<br>
	I am <strong>the strong tag</strong> example<br>

	I am <sub>the sub tag</sub> example<br>
	I am <sup>the sup tag</sup> example<br>
	I am <tt>the tt tag</tt> example<br>
	I am <var>the var tag</var> example<br>

	I am <u>the u tag</u> example

	<address>Address: somewhere, World</address>
	</p>

	<h4>Blocked text styles (h4)</h4>

	<blockquote>
    <p>I am not one who was born in the possession of knowledge; I am one who is fond of antiquity, and earnest in seeking it there.</p>
	</blockquote>

	<ol>
		<li>List item 01</li>
		<li>List item 02</li>
		<li>List item 03
			<ol>
				<li>List item level 2</li>
				<li>List item level 2
					<ol>
						<li>List item level 3</li>
						<li>List item level 3</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>

	<ul>
		<li>List item 01</li>
		<li>List item 02</li>
		<li>List item 03
			<ul>
				<li>List item level 2</li>
				<li>List item level 2
					<ul>
						<li>List item level 3</li>
						<li>List item level 3</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>

	<pre>
body {
    font:0.8125em/1.618 Arial, sans-serif;
    background-color:#fff;
    color:#111;
}
	</pre>

	<code>
        body {
	        font:0.8125em/1.618 Arial, sans-serif;
	        background-color:#fff;
        }
	</code>

	<pre>
        <code>
body {
    font:0.8125em/1.618 Arial, sans-serif;
    background-color:#fff;
    color:#111;
}</code>
	</pre>

	<dl>
		<dt>Definition title</dt>
		<dd>Description: Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
		commodo consequat.</dd>
		<dt>Definition title</dt>
		<dd>Description: Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
		aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
		commodo consequat.</dd>
	</dl>

    <figure>
        <img src="http://placehold.it/400x200" alt="">
        <figcaption>Figcaption content</figcaption>
    </figure>

	<h5>Tables (h5)</h5>

	<table>
	  		<caption>Jimi Hendrix - albums</caption>
	  		<thead>
			<tr>
				<th>Album</th>
				<th>Year</th>
				<th>Price</th>
			</tr>
			</thead>
		<tfoot>
			<tr>
				<td>Album</td>
				<td>Year</td>
				<td>Price</td>
			</tr>
		</tfoot>
		<tbody>
			<tr>
				<td>Are You Experienced </td>
				<td>1967</td>
				<td>$10.00</td>
			</tr>
			<tr>
				<td>Axis: Bold as Love</td>
				<td>1967</td>
				<td>$12.00</td>
			</tr>
			<tr>
				<td>Electric Ladyland</td>
				<td>1968</td>
				<td>$10.00</td>
			</tr>
			<tr>
				<td>Band of Gypsys</td>
				<td>1970</td>
				<td>$12.00</td>
			</tr>
		<tbody>
    </table>

	<h6>Forms (h6)</h6>

    <form action="#">
      <fieldset>
        <legend>Form legend</legend>

        <div><label for="f1">Text input:</label><input type="text" id="f1" value="input text" /></div>
        <div><label for="pw">Password input:</label><input type="password" id="pw" value="password" /></div>
        <div><label for="fill1">Full Text input:</label><input type="text" id="fill1" class="fill" placeholder="Placeholder text"/></div>

        <div><input type="radio" id="f2a" name="rad" /><label for="f2a">Radio input</label></div>
        <div><input type="checkbox" id="f3a" /><label for="f3a">Checkbox input</label></div>
        <div><label for="f2b">Radio input</label><input type="radio" id="f2b" name="rad" /></div>
        <div><label for="f3b">Checkbox input</label><input type="checkbox" id="f3b" /></div>
        <div><label for="f4">Select field:</label><select id="f4"><option>Option 01</option><option>Option 02</option></select></div>

        <div><label for="ic">Color input</label><input type="color" id="ic" value="color"></div>
        <div><label for="in">Number input</label><input type="number" id="in" min="0" max="10" value="5"></div>
        <div><label for="ir">Range input</label><input type="range" id="ir" value="range"></div>
        <div><label for="idd">Date input</label><input type="date" id="idd" value="date"></div>
        <div><label for="idm">Month input</label><input type="month" id="idm" value="month"></div>
        <div><label for="idw">Week input</label><input type="week" id="idw" value="week"></div>
        <div><label for="idt">Datetime input</label><input type="datetime" id="idt" value="datetime"></div>
        <div><label for="idtl">Datetime-local input</label><input type="datetime-local" id="idtl" value="datetime-local"></div>

		<!-- Should typically have a <br/> between a textarea's label and itself -->
        <div><label for="f5">Textarea:</label><br/><textarea id="f5" cols="30" rows="5" >Textarea text</textarea></div>
		<br/>
        <div><label for="f6">Input Button:</label><input type="button" id="f6" value="button text" /></div>
		<br/>
        <div><label for="f7">Submit Button:</label><input type="submit" id="f7" value="Submit" /></div>
        <br/>
        <div><label for="f8">Image Button:</label><input type="image" id="f8" src="http://placehold.it/90x24" alt="Image"></div>
        <br/>
        <div><label for="f9">Reset Button:</label><input type="reset" id="f9" value="Reset"></div>
        <br/>
        <div><label for="f10">HTML Button:</label><button id="f10">button text</button></div>
        <br/>
      </fieldset>
    </form>
</article>
{% endblock %}
